@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --primary-color: #1ED0A1;



}

body {
    font-family: 'PT Serif', serif;
}
.container{
    padding-left :1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.list-item{
    display: inline;
    padding: 0rem 1rem;
    
}
.link {
    
    text-decoration: none;
    padding: auto;
    font-size: x-large;

}

.hr{
    margin: 2rem 0rem;

}
.navbar{
    background-color: var(--primary-color);
    color:rgb(17, 17, 17);
    padding: 1 rem;
    font-weight: bold;
    border-bottom-left-radius: 1rem;
    
}
.navbar .link {
    color: white;

}
.navbar .nav-pills{
    text-align: right;
    font-weight: bold;
    font-size: large;
}
.navbar  .active {
    font-weight:bold;
    color: black;
}