@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    --primary-color: #1ED0A1;
    --off-white: #e2e8f0;



}

body {
    font-family: 'PT Serif', serif;
    margin:0px;
}
.container{
    padding: 0rem 1rem;
    
}
#more {display: none;}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.list-item{
    display: inline;
    padding: 0rem 1rem;
    
}
.link {
    color:rgb(230, 118, 32);
    text-decoration: none;
    padding: auto;
    font-size:x-large;

}

.hr{
    margin: 2rem 0rem;

}
.navbar{
    background-color: var(--primary-color);
    color:rgb(17, 17, 17);
    padding: 1 rem;
    font-weight: bold;
    border-bottom-left-radius: 1rem;
    
}
.navbar .link {
    color: white;

}
.navbar .nav-pills{
    text-align: right;
    font-weight: bold;
    font-size: large;
}
.navbar  .active {
    font-weight:bold;
    color: black;
}
.hero{
    text-align: center;
    font-size: large;
    color:grey;

}
.section{
    padding: 2rem;
}
.section h2{
    text-align: center;
    
    color:black;
   
}
.ow{
background-color: var(--off-white);
}

.container-center{
    max-width: 300px;
    margin:auto;
    
    font-size: x-large;
    text-align: center;
    padding-inline-start: 0px;

}
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color:black;
    border-top-left-radius: 1rem;

}

.footer .link{
    color: white;
    display: inline;
}
.footer ul{
    padding-inline-start: 0px;
}
.button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}